.sidebar-wrapper {
  height: 100vh;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightcoral;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}
