<!--<mat-grid-list cols="20" rowHeight="5vh" >-->
<!--  <mat-grid-tile colspan="20" rowspan="4">-->
<!--    <app-sidebar></app-sidebar>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile colspan="2" rowspan="16">-->
<!--    <app-header></app-header>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile colspan="16" rowspan="16">-->
<!--    <app-main-content></app-main-content>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile colspan="2" rowspan="16">-->
<!--    <app-footer></app-footer>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->
<app-sidebar></app-sidebar>
<app-header></app-header>
<app-main-content></app-main-content>
<app-footer></app-footer>

